In [1]:
import pandas as pd
import numpy as np
import requests
from bs4 import BeautifulSoup
from pandas.io.json import json_normalize

## Importing the postcode dataset and the latitude longitude dataset and combining them into one dataset

In [3]:
df = pd.read_csv('~/Desktop/projects/CourseraCapstone/postcodes.csv') # add the postcode dataframe from the first part of the exercise
df = df.drop(columns = ['Unnamed: 0']) # drop a weird unused column
df.head()

  Postcode      Borough                         Neighbourhood
0      M1B  Scarborough                         Rouge,Malvern
1      M1C  Scarborough  Highland Creek,Rouge Hill,Port Union
2      M1E  Scarborough       Guildwood,Morningside,West Hill
3      M1G  Scarborough                                Woburn
4      M1H  Scarborough                             Cedarbrae

In [4]:
path = 'http://cocl.us/Geospatial_data' # enter path
data = pd.read_csv(path) # read csv
data.columns = ['Postcode', 'Latitude', 'Longitude'] # rename column so it matches the postcode dataframe
data.head()

  Postcode   Latitude  Longitude
0      M1B  43.806686 -79.194353
1      M1C  43.784535 -79.160497
2      M1E  43.763573 -79.188711
3      M1G  43.770992 -79.216917
4      M1H  43.773136 -79.239476

In [6]:
mydata = pd.merge(left=df,right=data, how='left', left_on='Postcode', right_on='Postcode') # merge the two dataframes
mydata.to_csv('~/Desktop/projects/CourseraCapstone/completedata.csv') # save to csv
mydata.head()

,Postcode,Borough,Neighbourhood,Latitude,Longitude
0,M1B,Scarborough,"Rouge,Malvern",43.806686,-79.194353
1,M1C,Scarborough,"Highland Creek,Rouge Hill,Port Union",43.784535,-79.160497
2,M1E,Scarborough,"Guildwood,Morningside,West Hill",43.763573,-79.188711
3,M1G,Scarborough,Woburn,43.770992,-79.216917
4,M1H,Scarborough,Cedarbrae,43.773136,-79.239476

In [7]:
mydata.shape

(103, 5)